<!DOCTYPE html>
<html lang="en">


<div class="jumbotron">
    <h1>Want a new job?</h1>
    <p>Find whatever you want!</p>
    <form action = "/search" method = "GET">
        <div class="form-row">
            <div class="col">
                <input id = "title" name = "title" type="text" class="form-control" placeholder="job title">
            </div>
            <div class="col">
                <input id = "location" name = "location" type="text" class="form-control" placeholder="location">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </div>
    </form>

</div>
  




<style>

    .box {
    margin-top: 20px;
    }

    #search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .card {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(31, 30, 30);
    }

    .card-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    }

    .card-text {
    font-size: 14px;
    margin-top: 10px;
    color: white;
    }
  
</style>

<script>
    

    console.log(title);
    // for testing
    var results = [  { title: "Software Engineer", description: "Vancouver, BC" },  { title: "Software Developer", description: "Vancouver, BC" },  { title: "Sofware System Engineer", description: "Calgary, AB" }, { title: "QA Engineer", description: "Toronto, ON" }];

    // Loop through the search results and populate the container
    for (var i = 0; i < results.length; i++) {
        showSearchResults(results[i].title, results[i].description);
    }

    function showSearchResults(title, description) {
        var container = document.getElementById("search-results");
        var result = '<div class="col-md-4"><div class="card"><div class="card-body"><h5 class="card-title">' + title + '</h5><p class="card-text">' + description + '</p></div></div></div>';
        container.innerHTML += result;
    }

</script>



</html>