<!DOCTYPE html>
<html lang="en">


<div class="jumbotron">
    <h1>Want a new job?</h1>
    <p >Find whatever you want!</p>
    <form action = "/search" method = "GET">
        <div class="form-row">
            <div class="col">
                <input id = "title" name = "title" type="text" class="form-control" style = "border-radius: 15px; box-shadow: 5px 5px 15px rgb(164, 159, 159),-5px -5px 50px rgb(172, 170, 170);" placeholder="job title" required>
            </div>
            <div class="col">
                <input id = "location" name = "location" type="text" style = "border-radius: 15px; box-shadow: 5px 5px 15px rgb(164, 159, 159),-5px -5px 50px rgb(172, 170, 170);" class="form-control" placeholder="location" required>
            </div>
            <div class="col-auto">
                <button type="submit"  class="btn btn-custom mb-4">Search</button>
            </div>
        </div>
    </form>

</div>
  




<style>

    h1{
        border-radius: 15px; 
        text-shadow: 5px 5px 15px rgb(164, 159, 159),-5px -5px 50px rgb(172, 170, 170);
    }

    
    .box {
    margin-top: 20px;
    
    }

    .input {
        box-shadow: 5px 5px 10px rgb(25, 25, 25),
             -5px -5px 50px rgb(60, 60, 60);
    }



    #search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .card {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(31, 30, 30);
    
    }

    .card-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    
    }

    .card-text {
    font-size: 14px;
    margin-top: 10px;
    color: white;
    }

    .btn-custom {
      background-color: #4669f5;
      border-radius: 15px;
      color: #ffffff;
      margin-bottom: 5px;
    }

    .btn-custom:hover {
      background-color: #bababa;
      color: white;
    }
  
</style>

<!-- <script>
    

    console.log(title);
    // for testing
    var results = [  { title: "Software Engineer", description: "Vancouver, BC" },  { title: "Software Developer", description: "Vancouver, BC" },  { title: "Sofware System Engineer", description: "Calgary, AB" }, { title: "QA Engineer", description: "Toronto, ON" }];

    // Loop through the search results and populate the container
    for (var i = 0; i < results.length; i++) {
        showSearchResults(results[i].title, results[i].description);
    }

    function showSearchResults(title, description) {
        var container = document.getElementById("search-results");
        var result = '<div class="col-md-4"><div class="card"><div class="card-body"><h5 class="card-title">' + title + '</h5><p class="card-text">' + description + '</p></div></div></div>';
        container.innerHTML += result;
    }

</script> -->



</html>