<html>
    <head>
        <%- include('../partials/head'); %>
      </head>
      <body class = "flex bg-dark">
      
      <header>
        <%- include('../partials/header'); %>
      </header>
      
      <main>
        <div class="jumbotron">
          <h3>About me</h3>
          <p><%= text %></p>
          

          </blockquote>

        </div>
        
      </main>
      
      <footer>
        <%- include('../partials/footer'); %>
      </footer>
      
    </body>
    
    <style>
        /* CSS styles for the paragraph */
        .jumbotron {
            padding-bottom: 20%;
        }

        p {
          font-size: 18px;
          color: #333;
          line-height: 1.5;
        }

        footer {
          position: fixed;
          bottom: 0;
          width: 100%;
          background-color: #333;
          color: #fff;
          padding: 20px;
          text-align: center;
        }

      </style>

</html>