<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class = "flex bg-dark">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <%- include('../partials/search'); %>

  

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
<sript src ="/server.js"></sript>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  
  function loadResult (id) {
            $.get('/results', function(data) {
                correct_language = data.language;
            });
  }


  console.log(title);

</script>

</html>
